html {
    min-height: 100%;
    
  }


  body {
    min-height: 100%;
    background-image: url("../../assets/images/barbell2.jpg");
    background-size: cover;
  }


h1 {
    color: white;
}



h2 {
    text-align: center;
}


.container-fluid {

    position: relative;
}

.navbar-brand {
    
    position:fixed-top;
    
}

.navbar {

    position: relative;
}


.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}



#card-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom:50px;
}

.card {
    display: inline-block;
    margin: 4%;
}


#card-container h2 {
    text-align: center;
}


#header {
    text-align: center;
    color: #fafafa;
    padding-top: 50px;
}

#header-gallery {
    text-align: center;
    color: #fafafa;
    padding-top: 40px;
    padding-bottom: 5px;
}

.gallery {
    margin-bottom:65px;
}

.social {

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    word-spacing: 28px;
    
    
}


.alternate-font {
    font-family: "Roboto" sans-serif;
}


    
    .bi:hover {

        fill: lightgray
    }


   .table {

    max-width: 50%;
    margin: 0 auto;
    
   }

   .table-container {
       padding-top: 100px;
   }