html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background-image: url("../../assets/images/barbell1.jpg");
    background-size: cover;
}

h1 {
    color: white;
}

h2 {
    text-align: center;
}

#header {
    text-align: center;
    color: #fafafa;
    padding-top: 50px;
}

#header-gallery {
    text-align: center;
    color: #fafafa;
    padding-top: 40px;
    padding-bottom: 5px;
}

.alternate-font {
    font-family: "Roboto", sans-serif;
}

.navbar {
    position: relative;
}

.navbar-brand {
    position: static;
}

.container-fluid {
    position: relative;
}

#card-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
    width: auto;
}


#card-container h2 {
    text-align: center;
}

.card {
    display: inline-block;
    margin: 4%;
    padding: 0%;
}

.contact-text {
    text-align: center;
}

.gallery {
    margin-bottom: 65px;
}

.social {
    padding-top: 10px;
    padding-bottom: 10px;
    word-spacing: 28px;
}

.bi:hover {
    fill: lightgray
}

.table {
    max-width: 50%;
    margin: 0 auto;
    border: solid white;
}

.table-container {
    padding-top: 100px;
    padding-bottom: 65px;
}

iframe {
    margin: 0 auto;
    display: block;
    width: 70%;
    overflow-y: hidden;
    padding-bottom: 65px;

}